html{
    background-image: url(/home/peter/Documents/PIGDICE/image/dicee.jpg);
}
body{
    background-image: url(/home/peter/Documents/PIGDICE/image/dicee.jpg);
}
#kangal{
    text-align: center;
    color: cyan;
    font-family: cursive, fantasy;
    font-size: 34px;
    font-style: italic;
}
#pitbull{
    text-align: center;
    font-family: cursive;
    color: blueviolet;
    background-color:cyan;
}
u{
    color: indianred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: mixed;
    font-size: 50px;
}
#tor{
    border-radius: 47px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
}
.dice{
    border-radius: 56px;
    border-color: bisque;
}

.clearfix::after {
    display: table;
    clear: both;
}
#tisho{
  background-color: cyan, wheat;
}

body{
    font-family: Lato;
    font-weight: 300;
    position: relative;
    color:gray;
}
i{
  color: indigo;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    box-shadow: 12px 10px 30px black;
    overflow: hidden;
}
.playee{
  font-style: italic;
  font-family: monospace;
  font-size: 30px;
  }
   .playee2{
     font-style: italic;
     font-family: cursive;
     font-size: 30px;
   }
button {
    position: absolute;
    width: 200px;
    left: 50%;
    color:gray;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}
#dice{
  border-radius: 256px
}
.worse{
  display:none;
}
