html{
    background-image: url(https://www.google.com/imgres?imgurl=http%3A%2F%2Fcdn.digital-photo-secrets.com%2Fimages%2Fflickr%2F2230344021_d1fc66320e.jpg&imgrefurl=http%3A%2F%2Fwww.digital-photo-secrets.com%2Ftip%2F779%2Fhow-to-take-stunning-pictures-of-the-moon%2F&docid=W7NT_qWf5oJKUM&tbnid=FeQX4Cr5LtsHJM%3A&vet=10ahUKEwiz-ZP6qL_hAhVV6uAKHYEgDG0QMwh5KBMwEw..i&w=500&h=379&bih=669&biw=1299&q=moon%20photography&ved=0ahUKEwiz-ZP6qL_hAhVV6uAKHYEgDG0QMwh5KBMwEw&iact=mrc&uact=8);
}
body{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wixstatic.com%2Fmedia%2F7bc77f_500fd6e912fc4f05a3f38adbef527b2a~mv2.jpg&imgrefurl=https%3A%2F%2Fwww.giorgiahoferphotography.com%2Fmoon&docid=zWt3LzVeZNPqyM&tbnid=R0ZRbYebY0Dz8M%3A&vet=10ahUKEwiz-ZP6qL_hAhVV6uAKHYEgDG0QMwiwASg9MD0..i&w=1208&h=841&bih=669&biw=1299&q=moon%20photography&ved=0ahUKEwiz-ZP6qL_hAhVV6uAKHYEgDG0QMwiwASg9MD0&iact=mrc&uact=8);
}
#kangal{
    text-align: center;
    color: cyan;
    font-family: cursive, fantasy;
    font-size: 34px;
    font-style: italic;
}
#pitbull{
    text-align: center;
    font-family: cursive;
    color: blueviolet;
    background-color:cyan;
}
u{
    color: indianred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: mixed;
    font-size: 50px;
}
#tor{
    border-radius: 47px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
}
.dice{
    border-radius: 56px;
    border-color: bisque;
}

.clearfix::after {
    display: table;
    clear: both;
}
#tisho{
  background-color: cyan, wheat;
}

body{
    font-family: Lato;
    font-weight: 300;
    position: relative;
    color:gray;
}
i{
  color: indigo;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: wheat;
    box-shadow: 12px 10px 30px black;
    overflow: hidden;
}
.playee{
  font-style: italic;
  font-family: monospace;
  font-size: 30px;
  }
   .playee2{
     font-style: italic;
     font-family: cursive;
     font-size: 30px;
   }
button {
    position: absolute;
    width: 200px;
    left: 50%;
    color:gray;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}
#dice{
  border-radius: 256px
}
.worse{
  display:none;
}
